



/* tables */
table {
  margin-top: 20px;
  border-collapse: collapse;
  width:  50%;
  background-color: #857a11;
  margin-left: 0px;
}

th {
  text-align: left;
  font-weight: 900;
  font-size: 13px;
  background-color: #ffffff;
  text-transform: uppercase;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  padding: 0 40px;
  padding-bottom: 14px;
  color: black;
  
  /* width: 96%; */

}

tr:not(:first-child):hover {
  background: rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color:black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);  


}

td {
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  padding: 0 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);  
  background-color: #ffffff;
  color:black;
  /* width: 96%; */

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
  margin-left: 0vh;
}

.m-1 {
  margin-left: 21.25rem!important;
}


.panel.important {
  width: 83%;
  margin-left: 32vh;
}

.section.panel.important {
    margin-left: 243px;
}

.table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 50%;
  background-color: #857a11;
  margin-left: 0px;
}
.write-title{
  margin-left:70vh;
  font-size: 26px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}