.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: #fff;
  }
  
  .footerSection {
    flex: 1;
    text-align: center;
  }
  
  .appStores img {
    max-width: 150px;
    margin-right: 10px;
  }
  
  h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .socialLinks a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .socialLinks a:last-child {
    margin-right: 0;
  }
  
  
  